@import 'styles/config';
@import 'styles/local';


$questionTransition: 0.5s;

body {
  height: 100vh;
}

.style-guide {
  text-align: center;
}

.sg-colors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sg-colors {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > div {
    color: #000;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: .5em;
  }

  h3 {
    margin-bottom: .5em;
  }

  &.primary {
    > div {
      color: #5ab392;
    }
  }

  &.success {
    > div {
      color: #000;
    }
  }

  &.danger {
    > div {
      color: #89702a;
    }
  }
}

.buttons-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h3 {
    margin-bottom: 1em;
    font-family: "Assistant", sans-serif;
  }

  button {
    margin-bottom: 1em;
  }

  .guru-bg-warning-effect {
    background: transparent;
    border: 1px solid var(--color-warning-500);
    border-radius: 4px;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: var(--color-warning-500);
    transition: all 0.3s;
    transition-property: color;
    transition-duration: 0.5s;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: perspective(1px) translateZ(0);

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--color-warning-500);
      transform: scaleX(0);
      transform-origin: 100%;
      transition-property: transform;
      transition-duration: 0.5s;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: #fff;

      &:before {
        transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        transform: scaleX(1);
      }
    }
  }

  .guru-bg-warning {
    background: var(--color-warning-500);
    border: 1px solid var(--color-warning-500);
    border-radius: 4px;
    width: 180px;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    color: #000;
    transition: all 0.3s ease-out 0s;

    &:hover {
      background: var(--color-warning-400);
    }
  }
}

.questions {
  direction: rtl;
  width: 500px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid var(--color-warning-500);
  margin-left: auto;
  padding: 20px;
  margin-bottom: 50px;

  .item {
    position: relative;
  }

  .question-header {
    font-size: 1.5em;
    background: var(--color-info-800);
    color: #FFF;
    padding: 10px;
    margin-bottom: .3em;
  }

  .answer__slide {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background: #FFF;
    height: 167px;

    &.next-question {
      display: none;
    }

    .answer-indicator {
      display: block;
      cursor: pointer;
      transition: background-color .3s ease-in-out;
      padding: 8px;

      &:hover {
        background-color: var(--color-success-400);
      }
    }

    .result {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 105px;
    }

    .back-btn {
      position: absolute;
      top: 11px;
      left: 11px;
      width: 50px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-weight: 500;
      background: var(--color-warning-500);
      color: #FFF;
      cursor: pointer;
    }
  }

  #question1Answer1GoToQuestion2AndBackTo1:checked ~ #questionTwoAnswerOneOfQuestionOne {
    display: block
  }

  #question1Answer2GoToQuestion2_1AndBackTo1:checked ~ #questionTwoAnswerTwoOfQuestionOne {
    display: block
  }

  #question1Answer3GoToQuestion2_2AndBackTo1:checked ~ #questionTwoAnswerThreeOfQuestionOne {
    display: block;
  }

  #a1q1Question2Answer1GoToQuestion3_1AndBackTo2:checked ~ #questionThreeAnswerOneOfQuestionTwo {
    display: block;
  }

  #a1q1question2Answer2GoToQuestion3_2AndBackTo2:checked ~ #questionThreeAnswerTwoOfQuestionTwo {
    display: block;
  }

  #a1q1question2Answer3GoToQuestion3_2AndBackTo2:checked ~ #questionThreeAnswerThreeOfQuestionTwo {
    display: block;
  }

  #answerOneQuestionThree:checked ~ #resultQuestionThreeAnswerOne {
    display: block;
  }

  .answer-radio {
    display: none;
  }
}
