:root {
  --color-primary-100: #E7F4F6;
  --color-primary-200: #D1E9EE;
  --color-primary-300: #A7C3CD;
  --color-primary-400: #78909B;
  --color-primary-500: #3E4F59;
  --color-primary-600: #2D3F4C;
  --color-primary-700: #1F2F40;
  --color-primary-800: #132133;
  --color-primary-900: #0B172A;
  --color-success-100: #E6FCF5;
  --color-success-200: #CDFAEF;
  --color-success-300: #B0F0E5;
  --color-success-400: #96E1DB;
  --color-success-500: #72CCCD;
  --color-success-600: #53A7B0;
  --color-success-700: #398393;
  --color-success-800: #246076;
  --color-success-900: #154762;
  --color-info-100: #CAFAEA;
  --color-info-200: #97F6DF;
  --color-info-300: #60E6D0;
  --color-info-400: #38CDC2;
  --color-info-500: #06AAAC;
  --color-info-600: #048593;
  --color-info-700: #03657B;
  --color-info-800: #014963;
  --color-info-900: #013552;
  --color-warning-100: #FEF7D8;
  --color-warning-200: #FEEDB2;
  --color-warning-300: #FEE08C;
  --color-warning-400: #FED36F;
  --color-warning-500: #FEBE40;
  --color-warning-600: #DA9A2E;
  --color-warning-700: #B67920;
  --color-warning-800: #935B14;
  --color-warning-900: #79450C;
  --color-danger-100: #F4F4F5;
  --color-danger-200: #E9E9EC;
  --color-danger-300: #C4C4C7;
  --color-danger-400: #8D8D90;
  --color-danger-500: #454547;
  --color-danger-600: #32323D;
  --color-danger-700: #222233;
  --color-danger-800: #161629;
  --color-danger-900: #0D0D22;
}

:root {
  --color-primary-transparent-100: rgba(62, 79, 89, 0.08);
  --color-primary-transparent-200: rgba(62, 79, 89, 0.16);
  --color-primary-transparent-300: rgba(62, 79, 89, 0.24);
  --color-primary-transparent-400: rgba(62, 79, 89, 0.32);
  --color-primary-transparent-500: rgba(62, 79, 89, 0.4);
  --color-primary-transparent-600: rgba(62, 79, 89, 0.48);
  --color-success-transparent-100: rgba(114, 204, 205, 0.08);
  --color-success-transparent-200: rgba(114, 204, 205, 0.16);
  --color-success-transparent-300: rgba(114, 204, 205, 0.24);
  --color-success-transparent-400: rgba(114, 204, 205, 0.32);
  --color-success-transparent-500: rgba(114, 204, 205, 0.4);
  --color-success-transparent-600: rgba(114, 204, 205, 0.48);
  --color-info-transparent-100: rgba(6, 170, 172, 0.08);
  --color-info-transparent-200: rgba(6, 170, 172, 0.16);
  --color-info-transparent-300: rgba(6, 170, 172, 0.24);
  --color-info-transparent-400: rgba(6, 170, 172, 0.32);
  --color-info-transparent-500: rgba(6, 170, 172, 0.4);
  --color-info-transparent-600: rgba(6, 170, 172, 0.48);
  --color-warning-transparent-100: rgba(254, 190, 64, 0.08);
  --color-warning-transparent-200: rgba(254, 190, 64, 0.16);
  --color-warning-transparent-300: rgba(254, 190, 64, 0.24);
  --color-warning-transparent-400: rgba(254, 190, 64, 0.32);
  --color-warning-transparent-500: rgba(254, 190, 64, 0.4);
  --color-warning-transparent-600: rgba(254, 190, 64, 0.48);
  --color-danger-transparent-100: rgba(69, 69, 71, 0.08);
  --color-danger-transparent-200: rgba(69, 69, 71, 0.16);
  --color-danger-transparent-300: rgba(69, 69, 71, 0.24);
  --color-danger-transparent-400: rgba(69, 69, 71, 0.32);
  --color-danger-transparent-500: rgba(69, 69, 71, 0.4);
  --color-danger-transparent-600: rgba(69, 69, 71, 0.48);
}

/* Implement sass map to colors */
/* generating HEX background colors */
/* generating RGBA background colors */
/* Create bg color from map */
.bg-color-primary-100 {
  background-color: var(--color-primary-100);
}
.bg-color-primary-200 {
  background-color: var(--color-primary-200);
}
.bg-color-primary-300 {
  background-color: var(--color-primary-300);
}
.bg-color-primary-400 {
  background-color: var(--color-primary-400);
}
.bg-color-primary-500 {
  background-color: var(--color-primary-500);
}
.bg-color-primary-600 {
  background-color: var(--color-primary-600);
}
.bg-color-primary-700 {
  background-color: var(--color-primary-700);
}
.bg-color-primary-800 {
  background-color: var(--color-primary-800);
}
.bg-color-primary-900 {
  background-color: var(--color-primary-900);
}
.bg-color-success-100 {
  background-color: var(--color-success-100);
}
.bg-color-success-200 {
  background-color: var(--color-success-200);
}
.bg-color-success-300 {
  background-color: var(--color-success-300);
}
.bg-color-success-400 {
  background-color: var(--color-success-400);
}
.bg-color-success-500 {
  background-color: var(--color-success-500);
}
.bg-color-success-600 {
  background-color: var(--color-success-600);
}
.bg-color-success-700 {
  background-color: var(--color-success-700);
}
.bg-color-success-800 {
  background-color: var(--color-success-800);
}
.bg-color-success-900 {
  background-color: var(--color-success-900);
}
.bg-color-info-100 {
  background-color: var(--color-info-100);
}
.bg-color-info-200 {
  background-color: var(--color-info-200);
}
.bg-color-info-300 {
  background-color: var(--color-info-300);
}
.bg-color-info-400 {
  background-color: var(--color-info-400);
}
.bg-color-info-500 {
  background-color: var(--color-info-500);
}
.bg-color-info-600 {
  background-color: var(--color-info-600);
}
.bg-color-info-700 {
  background-color: var(--color-info-700);
}
.bg-color-info-800 {
  background-color: var(--color-info-800);
}
.bg-color-info-900 {
  background-color: var(--color-info-900);
}
.bg-color-warning-100 {
  background-color: var(--color-warning-100);
}
.bg-color-warning-200 {
  background-color: var(--color-warning-200);
}
.bg-color-warning-300 {
  background-color: var(--color-warning-300);
}
.bg-color-warning-400 {
  background-color: var(--color-warning-400);
}
.bg-color-warning-500 {
  background-color: var(--color-warning-500);
}
.bg-color-warning-600 {
  background-color: var(--color-warning-600);
}
.bg-color-warning-700 {
  background-color: var(--color-warning-700);
}
.bg-color-warning-800 {
  background-color: var(--color-warning-800);
}
.bg-color-warning-900 {
  background-color: var(--color-warning-900);
}
.bg-color-danger-100 {
  background-color: var(--color-danger-100);
}
.bg-color-danger-200 {
  background-color: var(--color-danger-200);
}
.bg-color-danger-300 {
  background-color: var(--color-danger-300);
}
.bg-color-danger-400 {
  background-color: var(--color-danger-400);
}
.bg-color-danger-500 {
  background-color: var(--color-danger-500);
}
.bg-color-danger-600 {
  background-color: var(--color-danger-600);
}
.bg-color-danger-700 {
  background-color: var(--color-danger-700);
}
.bg-color-danger-800 {
  background-color: var(--color-danger-800);
}
.bg-color-danger-900 {
  background-color: var(--color-danger-900);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, ol, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Assistant", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  text-align: initial;
}

body {
  height: 100vh;
}

.style-guide {
  text-align: center;
}

.sg-colors-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.sg-colors {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sg-colors > div {
  color: #000;
  width: 200px;
  height: 50px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 0.5em;
}
.sg-colors h3 {
  margin-bottom: 0.5em;
}
.sg-colors.primary > div {
  color: #5ab392;
}
.sg-colors.success > div {
  color: #000;
}
.sg-colors.danger > div {
  color: #89702a;
}

.buttons-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.buttons-container h3 {
  margin-bottom: 1em;
  font-family: "Assistant", sans-serif;
}
.buttons-container button {
  margin-bottom: 1em;
}
.buttons-container .guru-bg-warning-effect {
  background: transparent;
  border: 1px solid var(--color-warning-500);
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: var(--color-warning-500);
  transition: all 0.3s;
  transition-property: color;
  transition-duration: 0.5s;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transform: perspective(1px) translateZ(0);
}
.buttons-container .guru-bg-warning-effect:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--color-warning-500);
  transform: scaleX(0);
  transform-origin: 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.buttons-container .guru-bg-warning-effect:hover {
  color: #fff;
}
.buttons-container .guru-bg-warning-effect:hover:before {
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transform: scaleX(1);
}
.buttons-container .guru-bg-warning {
  background: var(--color-warning-500);
  border: 1px solid var(--color-warning-500);
  border-radius: 4px;
  width: 180px;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease-out 0s;
}
.buttons-container .guru-bg-warning:hover {
  background: var(--color-warning-400);
}

.questions {
  direction: rtl;
  width: 500px;
  height: 200px;
  border-radius: 20px;
  border: 2px solid var(--color-warning-500);
  margin-left: auto;
  padding: 20px;
  margin-bottom: 50px;
}
.questions .item {
  position: relative;
}
.questions .question-header {
  font-size: 1.5em;
  background: var(--color-info-800);
  color: #FFF;
  padding: 10px;
  margin-bottom: 0.3em;
}
.questions .answer__slide {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background: #FFF;
  height: 167px;
}
.questions .answer__slide.next-question {
  display: none;
}
.questions .answer__slide .answer-indicator {
  display: block;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  padding: 8px;
}
.questions .answer__slide .answer-indicator:hover {
  background-color: var(--color-success-400);
}
.questions .answer__slide .result {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 105px;
}
.questions .answer__slide .back-btn {
  position: absolute;
  top: 11px;
  left: 11px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  background: var(--color-warning-500);
  color: #FFF;
  cursor: pointer;
}
.questions #question1Answer1GoToQuestion2AndBackTo1:checked ~ #questionTwoAnswerOneOfQuestionOne {
  display: block;
}
.questions #question1Answer2GoToQuestion2_1AndBackTo1:checked ~ #questionTwoAnswerTwoOfQuestionOne {
  display: block;
}
.questions #question1Answer3GoToQuestion2_2AndBackTo1:checked ~ #questionTwoAnswerThreeOfQuestionOne {
  display: block;
}
.questions #a1q1Question2Answer1GoToQuestion3_1AndBackTo2:checked ~ #questionThreeAnswerOneOfQuestionTwo {
  display: block;
}
.questions #a1q1question2Answer2GoToQuestion3_2AndBackTo2:checked ~ #questionThreeAnswerTwoOfQuestionTwo {
  display: block;
}
.questions #a1q1question2Answer3GoToQuestion3_2AndBackTo2:checked ~ #questionThreeAnswerThreeOfQuestionTwo {
  display: block;
}
.questions #answerOneQuestionThree:checked ~ #resultQuestionThreeAnswerOne {
  display: block;
}
.questions .answer-radio {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
