@import 'styles/config';
@import 'styles/local';

.style-guide {
  text-align: center;
}

.sg-colors {
  padding: 20px;

  &.primary {
    > div {
      width: 200px;
      height: 50px;
      color: #000;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }

    .color-primary-100 {
      background: var(--color-primary-100);
    }
  }
}
